body{
    background-color: peachpuff;
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    font-weight: 600;
    font-size: 18px;
    line-height: 50px;
    text-align: center;

}